<button matIconButton
        [disabled]="!isConnected() || isPlaying()"
        (click)="onRecordingToggle()"
        [matTooltip]="isRecording() ? 'stop recording' : 'record bus to file'">
  <mat-icon class="record-icon" [class.recording]="isRecording()">radio_button_checked</mat-icon>
</button>
<button matIconButton
        [disabled]="!isConnected() || isRecording()"
        (click)="onPlayToggle()"
        [matTooltip]="isPlaying() ? 'stop playback' : 'playback existing record'">
  <mat-icon class="play-icon" [class.playing]="isPlaying()">play_circle</mat-icon>
</button>
