body {
  height: 100vh;
  margin: 0;

  font-family: Roboto, "Helvetica Neue", sans-serif;

  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

.snackbar-error {
  --mdc-snackbar-container-color: rgba(230, 130, 130);
  --mat-mdc-snack-bar-button-color: white;
}

.snackbar-success {
  --mdc-snackbar-container-color: #91c16d;
  --mat-mdc-snack-bar-button-color: white;
}

.container {
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
