  <button mat-stroked-button
          [textContent]="systemFormat"
          [disabled]="!isConnected"
          (click)="onSystemFormat()"></button>
  <mat-slide-toggle (change)="onRailVoltageToggle()"
                    [checked]="railVoltageEnabled"
                    [disabled]="!isConnected">Voltage</mat-slide-toggle>
  <button mat-icon-button routerLink="bus-monitor" [disabled]="!isConnected">
    <mat-icon>monitor</mat-icon>
  </button>
  <button mat-icon-button [disabled]="!isConnected"
          (click)="sendBusData()">
    <mat-icon>send</mat-icon>
  </button>

  <mat-slide-toggle (change)="onRecordingToggle()"
                    [disabled]="!isConnected">Recording</mat-slide-toggle>
