<mat-card appearance="outlined" class="container">
  <mat-card-header>
    <mat-card-title>{{ scenario().id ? 'Edit' : 'Create' }} scenario</mat-card-title>
  </mat-card-header>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <div>
        <label>Name: </label>
        <mat-form-field>
          <input matInput required [formControl]="form.controls.name"/>
        </mat-form-field>
      </div>
      <div>
        <label>Cron: </label>
        <mat-form-field>
          <input matInput required [formControl]="form.controls.cron"/>
        </mat-form-field>
      </div>
      <div>
        <label>Train: </label>
        <mat-form-field>
          <mat-select required formControlName="train">
            @for (opt of trains(); track opt.id) {
              <mat-option [value]="opt"> {{ opt.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <label>driving direction</label>
        <mat-form-field>
          <mat-select required formControlName="drivingDirection">
            @for (opt of [DRIVINGDIRECTION1.Forward, DRIVINGDIRECTION1.Backward]; track $index) {
              <mat-option
                [value]="opt"> {{ opt }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <label>driving level: </label>
        <mat-form-field>
          <input matInput required [formControl]="form.controls.drivingLevel"/>
        </mat-form-field>
      </div>

      <div>
        <label>Routes: </label>
        <div>
          <mat-form-field>
            <mat-label>select route to add ...</mat-label>
            <mat-select #routeSelect>
              @for (opt of routes(); track opt.id) {
                <mat-option [value]="opt"> {{ opt.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <button type="button" matMiniFab (click)="addRoute(routeSelect.value)">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <mat-list>
          @for (opt of scenario().routeSequences; track opt.id) {
            <mat-list-item> {{ opt.route?.name }}
              <mat-icon (click)="moveUpRouteSequence(opt)">arrow_drop_up</mat-icon>
              <mat-icon (click)="moveDownRouteSequence(opt)">arrow_drop_down</mat-icon>
              <mat-icon (click)="removeRouteSequence(opt)">delete</mat-icon>
            </mat-list-item>
          }
        </mat-list>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <button matButton="outlined" type="button" routerLink="../">Back</button>
      <button matButton="outlined">Apply</button>
    </mat-card-footer>
  </form>
</mat-card>
