/** Add css rules here for your application. */

html, body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

.flexbox-parent {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

.flexbox-item-grow {
  flex: 1; /* same as flex: 1 1 auto; */
}

.fill-area {
  display: flex;
  flex-direction: row;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

.fill-area-content {
  /* Needed for when the area gets squished too far and there is content that can't be displayed */
  overflow: auto;
}

.contentContainer {
  padding-bottom: 8px;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

/** TODO: DnD */
.getting-started-label {
  border: 1px solid #99AACC;
  background-color: #AACCFF;
  padding: 0.1em;
}

.getting-started-blue {
  border: 1px solid blue;
}

.getting-started-green {
  border: 1px solid green;
}

.boundary {
  width: 100%;
  height: 100%;
}

.loadingBar {
  height: 20px;
  width: 0;
  background-color: #90ee90;
}

.statePanel {
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #4E5D6C;
}

.statePanel > * {
  margin-right: 4px;
}

.abstractItemPanelHeaderContent {
  float: left;
  width: calc(100% - 80px);
  padding-left: 5px;
  padding-right: 5px;
}

.fillParent {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.appMenu {
  height: 49px;
  padding-right: 20px;
}

.configPanel {
  margin-top: 1px;
}

.configPanel_entry {
  padding-left: 20px;
  float: left;
}

.abstract-item-viewer-panel {
  padding: 10px 2px;
}

.trainPanel_slider {
  margin-left: 20px;
}

.green-btn {
  background-color: green;
}

.well-conn {
  height: 70px;
  width: 360px;
}

.lbl-well {
  float: none;
  color: black;
}

.busMonitor-address-lbl {
  float: left !important;
  width: 20px !important;
  height: 48px !important;
  padding: 20px 0.1px !important;
  border: 0.1px solid !important;
  color: #2f4f4f !important;
}

.busMonitor-lbl-bits {
  padding: 5px 8px !important;
  background-color: mediumpurple !important;
}

.busMonitor-btn-bits {
  padding: 3px 6px !important;
}

.controlCenterContainer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.controlCenterContainer .header {
  flex: 0 1 auto;
}

.controlCenterContainer .content {
  flex: 1 1 auto;
  min-height: 0;
}

.controlCenterContainer .footer {
  flex: 0 1 auto;
}
