.widget_track {
    width: 25px;
    height: 25px;
    background-color: white;
}

/* TODO refactor image to div */
.widget_track_straight_horizontal {
    /*width: 25px;*/
    /*height: 5px;*/
    /*border-bottom: solid #ffffff 10px;*/
    /*border-top: solid #ffffff 10px;*/
    /*background-color: black*/
}

.widget_track_straight_vertical {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.widget_track_curve_bottom_right {
}

.widget_track_curve_bottom_left {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

.widget_track_curve_top_right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.widget_track_curve_top_left {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.widget_track_switch_right_top_to_bottom {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.widget_track_switch_right_left_to_right {
}

.widget_track_switch_right_right_to_left {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.widget_track_switch_right_bottom_to_top {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

.widget_track_switch_left_top_to_bottom {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.widget_track_switch_left_left_to_right {
}

.widget_track_switch_left_right_to_left {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.widget_track_switch_left_bottom_to_top {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

.contentPanel {
    overflow: scroll;
}

.unknownBlock {
    background-color: goldenrod;
}

.usedBlock {
    background-color: darkred;
}

.freeBlock {
    background-color: limegreen;
}

.svgContainer {
    position:absolute;
    top:1em;
    bottom:0px;
    left:0px;
    right:0px;
}