<div class="viewer-track-content">
  <mat-toolbar style="width: 100%">
    Mode:&nbsp;
    <mat-button-toggle-group name="editType" [(ngModel)]="editType" (ngModelChange)="onEditTypeChanged()">
      <mat-button-toggle value="rotate">
        <mat-icon>rotate_90_degrees_ccw</mat-icon>&nbsp;Rotate
      </mat-button-toggle>
      <mat-button-toggle value="move">
        <mat-icon>open_with</mat-icon>&nbsp;Move
      </mat-button-toggle>
      <mat-button-toggle value="edit" [disabled]="pendingChanges()">
        <mat-icon>edit</mat-icon>&nbsp;Edit
      </mat-button-toggle>
      <mat-button-toggle value="delete" [disabled]="pendingChanges()">
        <mat-icon>delete</mat-icon>&nbsp;Delete
      </mat-button-toggle>
    </mat-button-toggle-group>

    <button mat-mini-fab style="margin-left: 10px"
            [disabled]="!pendingChanges()"
            (click)="save()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-mini-fab style="margin-left: 10px"
            [disabled]="!pendingChanges()"
            (click)="revert()">
      <mat-icon>undo</mat-icon>
    </button>
  </mat-toolbar>
  <app-track-viewer-svg #trackViewer
                        style="overflow: auto"
                        [overrideIsConnected]="true"
                        (trackPartClicked)="onTrackPartClicked($event)"
                        (mousemove)="mouseOverTrackViewer($event)"
                        (click)="onTrackViewerClicked()">
  </app-track-viewer-svg>
</div>
