<mat-card appearance="outlined" class="container">
  <mat-card-header>
    <mat-card-title>Trains</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <button mat-stroked-button routerLink="create"><mat-icon >add</mat-icon> Create</button>
    </p>
    <table mat-table [dataSource]="trains()" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let train">
          <mat-icon routerLink="{{train.id}}">edit</mat-icon>
          <mat-icon (click)="deleteTrain(train)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
</mat-card>
