<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Edit block ({{ trackBlockId() }})</mat-card-title>
  </mat-card-header>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <div>
        <label>Name: </label>
        <mat-form-field>
          <input matInput required [formControl]="form.controls.name"/>
        </mat-form-field>
      </div>
      <div>
        <label>Address: </label>
        <mat-form-field>
          <input matInput required [formControl]="form.controls.address"/>
        </mat-form-field>
      </div>
      <div>
        <label>Bit: </label>
        <mat-form-field>
          <input matInput required [formControl]="form.controls.bit"/>
        </mat-form-field>
      </div>
      <div>
        <label>Feedback: </label>
        <mat-checkbox required formControlName="feedback"></mat-checkbox>
      </div>

      <hr/>

      <h3>Driving Level adjustment</h3>
      <div>
        <label>Type: </label>
        <mat-form-field>
          <mat-select required formControlName="drivingLevelAdjustType">
            <mat-option *ngFor="let opt of drivingLevelOptions()" [value]="opt"> {{ opt }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <label>Forward driving level: </label>
        <mat-form-field>
          <input matInput [formControl]="form.controls.forwardDrivingLevel"/>
        </mat-form-field>
      </div>
      <div>
        <label>backward driving level: </label>
        <mat-form-field>
          <input matInput [formControl]="form.controls.backwardDrivingLevel"/>
        </mat-form-field>
      </div>

    </mat-card-content>
    <mat-card-footer>
      <button mat-stroked-button type="button" routerLink="../">Back</button>
      <button mat-stroked-button style="margin-left: auto;">Apply</button>
    </mat-card-footer>
  </form>
</mat-card>
