<div class="form-row">
  <label>Length: </label>
  <mat-form-field>
    <input matInput required type="number" [formControl]="blockLengthFormField"/>
  </mat-form-field>
</div>
<hr/>
<br/>
<div class="form-row">
  <label>Left Block: </label>
  <app-track-block-select [trackBlocks]="trackBlocks()" [(selected)]="selectedLeftBlock"></app-track-block-select>
</div>
<div class="form-row">
  <label>Middle Block: </label>
  <app-track-block-select [trackBlocks]="trackBlocks()" [(selected)]="selectedMiddleBlock"></app-track-block-select>
</div>
<div class="form-row">
  <label>Right Block: </label>
  <app-track-block-select [trackBlocks]="trackBlocks()" [(selected)]="selectedRightBlock"></app-track-block-select>
</div>
