/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 40px 0px 70px;
    text-align: center;
}

.sendButton {
    display: block;
    font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
    width: 400px;
}

.dialogVPanel {
    margin: 5px;
}

.serverResponseLabelError {
    color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
    margin: 15px 6px 6px;
}

/** TODO: DnD */
.getting-started-label {
    border: 1px solid #99AACC;
    background-color: #AACCFF;
    padding: 0.1em;
}

.getting-started-blue {
    border: 1px solid blue;
}

.getting-started-green {
    border: 1px solid green;
}

.pallete {
    background-color: #a9a9a9;
}

.boundary {
    background-color: #d3d3d3;
    width: 100%;
    height: 100%;
}

.contentContainerPanel {
    width: 100%;
    height: 100%;
}

.loadingBar {
    height: 20px;
    width: 0px;
    background-color: #90ee90;
}

.statePanel {

    min-height: 40px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e3ebed;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    *zoom: 1;

    /*background-image: url("img/bg.png");*/
    /*background-repeat: repeat-x;*/
    /*height: 25px;*/
    /*width: 100%;*/
}

/*@media screen {*/
/*.contentContainerPanel {*/
/*width: 400px*/
/*}*/
/*}*/

.widget_track {
    width: 25px;
    height: 25px;
    background-color: white;
}

.widget_track_straight_vertical {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.widget_track_curve_bottom_right {
}

.widget_track_curve_bottom_left {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

.widget_track_curve_top_right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.widget_track_curve_top_left {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.widget_track_switch_right_top_to_bottom {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.widget_track_switch_right_left_to_right {
}

.widget_track_switch_right_right_to_left {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.widget_track_switch_right_bottom_to_top {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

.widget_track_switch_left_top_to_bottom {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.widget_track_switch_left_left_to_right {
}

.widget_track_switch_left_right_to_left {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.widget_track_switch_left_bottom_to_top {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

.contentPanel {
    overflow: scroll;
}