.widget_track_selected_trackparts {
  background-color: blueviolet;
}

.widget_track_selected_start {
  background-color: red;
}

.widget_track_selected_end {
  background-color: #00de00;
}

.widget_track_route_block {
  background-color: chartreuse;
}

.route-track-legend {
  float: left;
}

