<header>
  <mat-toolbar color="primary">
    <span>Control Center</span>
    <button routerLink="viewer" mat-flat-button>
      <mat-icon>visibility</mat-icon>
      Viewer
    </button>
    <button routerLink="editor" mat-flat-button>
      <mat-icon>border_color</mat-icon>
      Editor
    </button>
    <button routerLink="train" mat-flat-button>
      <mat-icon>train</mat-icon>
      Trains
    </button>
    <button routerLink="scenario" mat-flat-button>
      <mat-icon>map</mat-icon>
      Scenarios
    </button>
    <mat-divider [vertical]="true"></mat-divider>
    <button routerLink="settings" mat-mini-fab>
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>
</header>
