openapi: 3.0.1
info:
  title: Control Center API
  description: OpenAPI swagger configuration for the REST interfaces of Control Center.
  contact:
    email: https://github.com/DanielTuerk/controlcenter
  license:
    name: MIT License
    url: https://en.wikipedia.org/wiki/MIT_License
  version: 1.0.0
servers:
- url: http://localhost:8080/
  description: Openapi Swagger API server
paths:
  /api/construction/current:
    get:
      operationId: getCurrentConstruction
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Construction'
    post:
      operationId: setCurrentConstruction
      requestBody:
        content:
          text/plain:
            schema:
              type: string
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /api/construction:
    get:
      operationId: loadConstructions
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Construction'
  /api/scenario:
    get:
      operationId: loadScenarios
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Scenario'
    post:
      operationId: createScenario
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /api/scenario/{id}:
    get:
      operationId: loadScenario
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scenario'
    post:
      operationId: updateScenario
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: default response
          content:
            '*/*': {}
    delete:
      operationId: deleteScenario
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /api/train:
    get:
      operationId: loadTrains
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Train'
    post:
      operationId: createTrain
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /api/train/{id}:
    get:
      operationId: loadTrain
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Train'
    post:
      operationId: updateTrain
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: default response
          content:
            '*/*': {}
    delete:
      operationId: deleteTrain
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /application.wadl/{path}:
    get:
      operationId: getExternalGrammar
      parameters:
      - name: path
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/xml: {}
  /application.wadl:
    get:
      operationId: getWadl
      responses:
        default:
          description: default response
          content:
            application/vnd.sun.wadl+xml: {}
            application/xml: {}
components:
  schemas:
    Construction:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        inAutomaticMode:
          type: boolean
        new:
          type: boolean
    BlockStraight:
      type: object
      properties:
        id:
          type: integer
          format: int64
        gridPosition:
          $ref: '#/components/schemas/GridPosition'
        direction:
          type: string
          enum:
          - HORIZONTAL
          - VERTICAL
        blockLength:
          type: integer
          format: int32
        leftTrackBlock:
          $ref: '#/components/schemas/TrackBlock'
        middleTrackBlock:
          $ref: '#/components/schemas/TrackBlock'
        rightTrackBlock:
          $ref: '#/components/schemas/TrackBlock'
        endGridPosition:
          $ref: '#/components/schemas/GridPosition'
        gridLength:
          type: integer
          format: int32
        allTrackBlocks:
          type: array
          items:
            $ref: '#/components/schemas/TrackBlock'
        allGridPositions:
          type: array
          items:
            $ref: '#/components/schemas/GridPosition'
        lastGridPositions:
          type: array
          items:
            $ref: '#/components/schemas/GridPosition'
        rotationAngle:
          type: number
          format: double
        new:
          type: boolean
    BusDataConfiguration:
      type: object
      properties:
        id:
          type: integer
          format: int64
        bus:
          type: integer
          format: int32
        address:
          type: integer
          format: int32
        bit:
          type: integer
          format: int32
        bitState:
          type: boolean
        valid:
          type: boolean
        identifierKey:
          type: string
        new:
          type: boolean
    GridPosition:
      type: object
      properties:
        id:
          type: integer
          format: int64
        x:
          type: integer
          format: int32
        "y":
          type: integer
          format: int32
        new:
          type: boolean
    Route:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        start:
          $ref: '#/components/schemas/BlockStraight'
        end:
          $ref: '#/components/schemas/TrackBlock'
        oneway:
          type: boolean
        waypoints:
          type: array
          items:
            $ref: '#/components/schemas/GridPosition'
        runState:
          type: string
          enum:
          - PREPARED
          - RESERVED
          - RUNNING
          - FINISHED
        track:
          $ref: '#/components/schemas/Track'
        allTrackBlocksToDrive:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/TrackBlock'
        new:
          type: boolean
    RouteSequence:
      type: object
      properties:
        id:
          type: integer
          format: int64
        position:
          type: integer
          format: int32
        route:
          $ref: '#/components/schemas/Route'
        endDelayInSeconds:
          type: integer
          format: int32
        new:
          type: boolean
    Scenario:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        cron:
          type: string
        train:
          $ref: '#/components/schemas/Train'
        trainDrivingDirection:
          type: string
          enum:
          - FORWARD
          - BACKWARD
        startDrivingLevel:
          type: integer
          format: int32
        routeSequences:
          type: array
          items:
            $ref: '#/components/schemas/RouteSequence'
        stationPlatformStartId:
          type: integer
          format: int64
        stationPlatformEndId:
          type: integer
          format: int64
        runState:
          type: string
          enum:
          - RUNNING
          - IDLE
          - PAUSED
          - STOPPED
          - SUCCESS
          - ERROR
        mode:
          type: string
          enum:
          - "OFF"
          - MANUAL
          - AUTOMATIC
        endPoint:
          $ref: '#/components/schemas/TrackBlock'
        new:
          type: boolean
    Track:
      type: object
      properties:
        trackBlocks:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/TrackBlock'
        trackFunctions:
          type: array
          items:
            $ref: '#/components/schemas/BusDataConfiguration'
        gridPositions:
          type: array
          items:
            $ref: '#/components/schemas/GridPosition'
        length:
          type: integer
          format: int32
    TrackBlock:
      type: object
      properties:
        id:
          type: integer
          format: int64
        blockFunction:
          $ref: '#/components/schemas/BusDataConfiguration'
        construction:
          $ref: '#/components/schemas/Construction'
        name:
          type: string
        forwardTargetDrivingLevel:
          type: integer
          format: int32
        backwardTargetDrivingLevel:
          type: integer
          format: int32
        drivingLevelAdjustType:
          type: string
          enum:
          - NONE
          - ENTER
          - EXIT
        feedback:
          type: boolean
        displayValue:
          type: string
        new:
          type: boolean
    Train:
      type: object
      properties:
        id:
          type: integer
          format: int64
        currentBlocks:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/TrackBlock'
        address:
          type: integer
          format: int32
        name:
          type: string
        functions:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/TrainFunction'
        drivingLevel:
          type: integer
          format: int32
        forward:
          type: boolean
        presentOnTrack:
          type: boolean
        addressByte:
          type: string
          format: byte
        new:
          type: boolean
    TrainFunction:
      type: object
      properties:
        id:
          type: integer
          format: int64
        alias:
          type: string
        configuration:
          $ref: '#/components/schemas/BusDataConfiguration'
        active:
          type: boolean
        new:
          type: boolean
