@if (!isConnected()) {
  <div>
    <p>No connection! Please connect device first.</p>
  </div>
}

@if (isConnected()) {
  <div class="bus-container">
    @for (bus of buses; track bus.number) {
      <div class="bus">
        <h2>Bus {{ bus.number }}</h2>
        <div class="address-grid">
          @for (row of bus.rows; track row.address) {
            <div class="address-item">
              <span class="address">{{ row.address | number:'3.0-0' }}</span>
              <div class="bits">
                @for (bit of row.bits; track j; let j = $index) {
                  <button
                    (click)="toggleBit(bus, row.address, j+1, !row.bits[j])"
                    [class.active]="bit">
                    {{ j + 1 }}
                  </button>
                }
              </div>
            </div>
          }
        </div>
      </div>
    }
  </div>
}
<br/>
