<br/>
<mat-card appearance="outlined" class="container">
  <mat-card-header>
    <mat-card-title>Edit Station</mat-card-title>
  </mat-card-header>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <div class="form-row">
        <label>Name: </label>
        <mat-form-field>
          <input matInput required [formControl]="form.controls.name"/>
        </mat-form-field>
      </div>

      <div class="form-row" style="align-items: flex-start; max-width: 900px">
        <label style="padding-top: 5px;">Platforms: </label>
        <div style="width: 100%">
          <button type="button" matMiniFab (click)="addPlatform()">
            <mat-icon>add</mat-icon>
          </button>

          @for (platform of station().platforms; track platform.id) {
            <div class="platform-row">
              <div class="form-row">
                <label>Name: </label>
                <mat-form-field>
                  <input matInput placeholder="platform name" [value]="platform.name"
                         (change)="updatePlatformName(platform, $any($event.target).value)"/>
                </mat-form-field>
                <mat-icon (click)="removePlatform(platform)">delete</mat-icon>
              </div>

              <div class="form-row">
                <label>Track blocks: </label>
                <mat-form-field>
                  <mat-select #trackBlockSelect placeholder="select track block to add ...">
                    @for (opt of trackBlocks(); track opt.id) {
                      <mat-option [value]="opt"> {{ opt.name }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <button type="button" matMiniFab (click)="addTrackBlock(platform, trackBlockSelect.value)">
                  <mat-icon>add</mat-icon>
                </button>
              </div>

              <mat-list style="align-content: center">
                @for (trackBlock of platform.trackBlocks; track trackBlock.id) {
                  <mat-list-item> {{ trackBlock.name }}
                    <mat-icon (click)="removeTrackBlock(platform, trackBlock)">delete</mat-icon>
                  </mat-list-item>
                }
              </mat-list>
            </div>
          }
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <button matButton="outlined" type="button" routerLink="/cc/scenario" fragment="stations">Back</button>
      <button matButton="outlined">Apply</button>
    </mat-card-footer>
  </form>
</mat-card>
